!!! 5
//if lt IE 7
  html.ie.ie6.ie6-9.ie6-8.ie6-7(lang='ja', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
//if IE 7
  html.ie.ie7.ie6-9.ie6-8.ie6-7(lang='ja', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
//if IE 8
  html.ie.ie8.ie6-9.ie6-8(lang='ja', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
//if IE 9
  html.ie.ie9.ie6-9(lang='ja', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
// [if (gt IE 9)|!(IE)] <!
html.standard(lang='ja', prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
  // <![endif]

  head
    - page.fix()
    meta(charset='utf-8')
    title #{page.title}
    meta(name='description', content=page.description)
    meta(name='keywords',    content=page.keywords.join(', '))

    //- Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')

    //if lt IE 9
      script(type='text/javascript', src='/js/html5shiv.js')

    //- CSS
    != css('app')
  body(id=page.id, class=page.class)
    block pre-body
    block content
    block post-body

    //- JavaScript
    script(src="/socket.io/socket.io.js")
    != js('app')
    script
      // jQuery.publish('#{page.segments.join('.')}')
